services:

  # Local services are available on their ports, but also available on:
  # http://api.localhost.tiangolo.com: backend
  # http://dashboard.localhost.tiangolo.com: frontend
  # etc. To enable it, update .env, set:
  # DOMAIN=localhost.tiangolo.com
  proxy:
    image: traefik:3.6.6
    restart: always
    networks:
      - traefik-public
      - default
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "80:80"
      - "8090:8080"
    # Duplicate the command from docker-compose.yml to add --api.insecure=true
    command:
      # Enable Docker in Traefik, so that it reads labels from Docker services
      - --providers.docker
      # Add a constraint to only use services with the label for this stack
      - --providers.docker.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      # Do not expose all Docker services, only the ones explicitly exposed
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=${STACK_NAME?Variable not set}_traefik-public
      # Create an entrypoint "http" listening on port 80
      - --entrypoints.http.address=:80
      # Create a dummy "https" entrypoint for local dev to satisfy routers
      - --entrypoints.https.address=:443
      # Enable the access log, with HTTP requests
      - --accesslog
      - --log
      - --log.level=DEBUG
      - --api
      - --api.insecure=true
      # Define a dummy "le" certresolver for local development to avoid errors
      - --certificatesresolvers.le.acme.email=admin@example.com
      - --certificatesresolvers.le.acme.storage=/tmp/acme.json
      # Using a non-existent but HTTPS caserver to effectively disable ACME for .localhost
      - --certificatesresolvers.le.acme.caserver=https://127.0.0.1:2379/v2/keys
      # NOTE: The email above is read from docker-compose.override.yml for local development
      # In production, this will use the ACME email from your deployment configuration
    labels:
      # Enable Traefik for this service, to make it available in the public network
      - traefik.enable=true
      - traefik.constraint-label=traefik-public
      # Overriding the redirect middleware to do nothing locally
      - traefik.http.middlewares.https-redirect.headers.customrequestheaders.X-Forwarded-Proto=http

  backend:
    restart: "always"
    networks:
      - traefik-public
      - default
    labels:
      - traefik.docker.network=${STACK_NAME?Variable not set}_traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-http.middlewares=
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-https.tls=false
    ports:
      - "8000:8000"
    build:
      context: ./backend
    # command: sleep infinity  # Infinite loop to keep container alive doing nothing
    command:
      - fastapi
      - run
      - --reload
      - "app/main.py"
    develop:
      watch:
        - path: ./backend
          action: sync
          target: /app
          ignore:
            - ./backend/.venv
            - .venv
        - path: ./backend/pyproject.toml
          action: rebuild
    environment:
      SMTP_HOST: "mailcatcher"
      SMTP_PORT: "1025"
      SMTP_TLS: "false"
      EMAILS_FROM_EMAIL: "noreply@rsc-xchange.app"
      FRONTEND_HOST: "http://localhost:5173"
      BACKEND_CORS_ORIGINS: '["http://localhost:5173", "http://dashboard.localhost", "http://localhost", "http://localhost:8000", "http://api.localhost", "http://127.0.0.1:5173", "http://127.0.0.1", "http://127.0.0.1:8000"]'

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1080:1080"
      - "1025:1025"

  adminer:
    restart: "always"
    networks:
      - traefik-public
      - default
    labels:
      - traefik.docker.network=${STACK_NAME?Variable not set}_traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-http.middlewares=
      - traefik.http.routers.${STACK_NAME?Variable not set}-adminer-https.tls=false

  frontend:
    restart: "always"
    networks:
      - traefik-public
      - default
    labels:
      - traefik.docker.network=${STACK_NAME?Variable not set}_traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-http.middlewares=
      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-https.tls=false
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: 
      - npm
      - run
      - dev
      - --
      - --host

    build:
      context: ./frontend
      target: build-stage
      args:
        - VITE_API_URL=http://api.localhost
        - NODE_ENV=development
    develop:
      watch:
        - path: ./frontend
          action: sync
          target: /app
          ignore:
            - ./frontend/node_modules
            - node_modules
        - path: ./frontend/package.json
          action: rebuild

  playwright:
    build:
      context: ./frontend
      dockerfile: Dockerfile.playwright
      args:
        - VITE_API_URL=http://backend:8000
        - NODE_ENV=production
    ipc: host
    depends_on:
      - backend
      - mailcatcher
    env_file:
      - .env
    environment:
      - VITE_API_URL=http://backend:8000
      - MAILCATCHER_HOST=http://mailcatcher:1080
      # For the reports when run locally
      - PLAYWRIGHT_HTML_HOST=0.0.0.0
      - CI=${CI}
    volumes:
      - ./frontend/blob-report:/app/blob-report
      - ./frontend/test-results:/app/test-results
    ports:
      - 9323:9323

networks:
  traefik-public:
    # For local dev, don't expect an external Traefik network
    external: false
